@font-face {
  font-family: 'RacingSans';
  src: url('./assets/font/RacingSansOne-Regular.ttf');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'RacingSans';
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36363a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
